*{ box-sizing:border-box;}
body,html{ background:#edeff1;}
ul,ol,li{ list-style:none; }
.viewroot-box{ background:#edeff1;}
body{font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;}
/*重置框架的header高度*/
.single-frame-head{
	height:45px;
	background:#fff;
	border:1px solid #eee;
}
.viewroot-box{
	padding-top:45px;
}

.viewroot-bg{
	background-size:auto 100%!important;
	background-repeat:repeat!important;
}

.single-frame-head{
	font-size:14px;
}
input{outline:0px;}

body .header-opacity{ background:none; color:#fff; }
body .header-opacity .head-left-btn:after{ background-image:url(./arrow_white.png);}

body .ui-dialog-buttons button:active{ background-color:#d0d0d0;}

.head-left-btn,.head-right-btn{ height:100%;position:absolute; top:0px; line-height:45px;}
.head-left-btn{ left:0px; width:50px;  }
.head-left-btn:after{ 
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background:url(./arrow.png) no-repeat 45% center;
	background-size:auto 40%;
}
.ui-dialog{
	border-radius:0px;
	border:1px solid #9ed5ff;
	border-width:2px 0px;
	width:80%;
	min-width:240px;
	max-width:260px;
}
.ui-dialog-head{ display:none;}
.ui-dialog-buttons{
	padding-bottom:10px;
	text-align:center;
}
.ui-dialog-padding{
	padding:0px;
}
.ui-dialog-buttons button{
	padding:0px;
	margin:0px 10px;
	border:none;
	border-bottom:1px solid #d8d8d8;
	border-left:1px solid #d8d8d8;
	background:#f0f0f0;
	height:33px;
	font-size:16px;
	min-width:30%;

}
.al-tl{ color:#0d71e1;}
.ui-dialog-buttons button:active{
	background:#eee;
}
.ui-dialog-buttons button:nth-child(1){ border-left:none;}
.ui-dialog-content{
	padding:20px;
	text-align:center;
}
.ui-slide-nav{ top:0px; bottom:auto;}
.btn:active{ background-color:rgba(0,0,0,0.2);}
.head-right-btn{ right:0px; width:80px; text-align:center; font-size:16px; }
.head-title{ text-align:center; padding:0px 48px;line-height:48px; font-size:18px; }

.ui-loading{ height:30px; width:30px; border:none; background:url(./loading.png) no-repeat center center; background-size:98% 98%;}

.ui-mask{ -webkit-animation:opacity_in .5s ease; animation:opacity_in .5s ease;}
@-webkit-keyframes opacity_in{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes opacity_in{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}

.todolist{
}

.todolist li{
	height:40px;
	line-height:40px;
	padding:0px 20px;
	background:#fff;
	border-bottom:1px solid #eee;
	position:relative;
}

.todolist li.empty{  text-align:center; background:none;}

.todolist li div{ padding:0px 30px 0px 20px; overflow:hidden; height:100%; text-overflow:ellipsis; white-space: nowrap; position:relative;}

.todolist li .del{ position:absolute; width:40px; height:100%; right:0px; top:0px; background:url(del.png) no-repeat center center; background-size:30% auto;}
.todolist li em{ position:absolute;    left: 11px; top: 9px; z-index:99;}
.todolist li em input{ width:20px; height:20px; padding:0px; margin:0px; float:left;}
.todolist li.deled{
	color:#ccc;
}
.todolist li.deled div{
	text-decoration:line-through
}

.todolist-edit{
	width:100%;
	height:100%;

}
#edit{
	border:0px;
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	padding:20px;
	background:none;
}